@model IEnumerable<DawtNetProject.Models.Domain>

@{
    ViewBag.Title = "Domains";
}

<div class="d-flex flex-row align-items-start justify-content-between">

    <h2 class="mb-0">Domains</h2>

    <div class="p-2">
        @Html.ActionLink("Add another domain", "Create", new { @area = "" }, new { @class = "btn btn-link border rounded" })
    </div>
</div>
<hr />
<div class="container p-0">
    @foreach (var domain in Model)
    {
    <div class="row col-12 pb-0 m-0 mt-2 mb-2 table_button" data-url="/Domains/Details/@domain.Id">
        <div class="col-12 d-flex flex-row justify-content-between align-items-center">
            <div>
                <h3>@domain.Title</h3>
                <h6 class="text-muted">
                    @domain.Description | @domain.Articles.Count
                    @if (domain.Articles.Count == 1)
                    {
                        @Html.Raw(" article")
                    }
                    else
                    {
                        @Html.Raw(" articles")
                    }
                </h6>
            </div>

            <div class="text-muted">
                <span class="mr-2">View</span>
                <span><i class="fas fa-chevron-right"></i></span>
            </div>
        </div>
        <hr class="mr-4 mt-0 mb-0" style="width: 90%; float: right;" />
    </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/article-list")
}
