@model DawtNetProject.Models.Version

@{
    ViewBag.Title = "Details";
}

<div class="d-flex flex-row justify-content-between align-content-end">
    <div class="d-flex flex-column align-content-start">
        @Html.LabelFor(m => m.Title, new { @class = "display-6" })<br />
        <h2>@Model.Title</h2>
        <h6>Article ID: <span class="text-secondary">@Html.ActionLink(Model.Article.ArticleId.ToString(), "Details", "Articles", new { id = Model.Article.ArticleId }, null)</span></h6>
    </div>
    <div class="d-flex flex-row" style="height: min-content">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-dark" })
        @if (Model.Article.CurrentVersionId != Model.Id)
        {
            using (Html.BeginForm(actionName: "SetVersion", controllerName: "Articles", new { id = Model.Article.ArticleId, reference = Model.Id }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <button class="btn btn-info ml-2 mr-2">Set as Current Version</button>
            }
        }
        else
        {
            <div class="btn btn-outline-dark disabled ml-2 mr-2">This is the current version</div>
        }
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
    </div>
</div>
<hr />
<div class="container border p-4 bg-light">
    <div class="col-m-12">
        @if (ViewBag.content != null)
        {
            @Html.Raw(ViewBag.content);
        }
    </div>

</div>